<div class="vote_form">
    <% unless current_user.voting?(micropost) %>
        <!-- Upvote button -->
        <%= render 'microposts/upvote', micropost: micropost %>
    <% else %>
        <!-- Downvote button -->
        <%= render 'microposts/downvote', micropost: micropost %>
    <% end %>
</div>

<span class="vote_count">
    <%= pluralize(micropost.votes.count, "vote") %>
</span>
